{% load static %}
<link rel="stylesheet" href="{% static 'css/01-foundations-home.css' %}?v=css-split-1">
<link rel="stylesheet" href="{% static 'css/02-storefront-components.css' %}?v=css-split-1">
<link rel="stylesheet" href="{% static 'css/03-dashboard-forms.css' %}?v=css-split-1">
<link rel="stylesheet" href="{% static 'css/04-responsive.css' %}?v=css-split-1">
<link rel="stylesheet" href="{% static 'css/05-cart-checkout.css' %}?v=css-split-1">
<link rel="stylesheet" href="{% static 'css/06-page-overrides.css' %}?v=css-split-1">
