{% load static %}
<link rel="stylesheet" href="{% static 'css/01-foundations-home.css' %}?v=full-carousel-image-20260610">
<link rel="stylesheet" href="{% static 'css/02-storefront-components.css' %}?v=company-chevron-1">
<link rel="stylesheet" href="{% static 'css/03-dashboard-forms.css' %}?v=mobile-responsive-20260610">
<link rel="stylesheet" href="{% static 'css/04-responsive.css' %}?v=sticky-mobile-header-20260610">
<link rel="stylesheet" href="{% static 'css/05-cart-checkout.css' %}?v=mobile-responsive-20260610">
<link rel="stylesheet" href="{% static 'css/06-page-overrides.css' %}?v=mobile-responsive-20260610">
